<div class="container">
  <div class="masthead">
    <h3 class="text-muted">Angular Simple Front-End Apps using ngRoute</h3>
    <div role="navigation">
      <ul class="nav nav-justified">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/services">Services</a></li>
        <li><a href="#/downloads">Downloads</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <!-- Content Area -->
  <div ng-view></div>
  
  <!-- Site footer -->
  <footer class="footer">
    <p>© Amasik.com 2014</p>
  </footer>

</div> <!-- /container -->